@import 'styles/_variables';

body {
  margin: 0;
  padding: 0;
  font-family: Publik,sans-serif;
  background-color: $svt-color_warm-gray_extra-light;
  font-size: 16px;
  color: $color-text;
}

.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
  font-weight: 200;
  padding: 1em 0 0 0;
  margin: 0
}

.App-intro {
  font-size: large;
}

.dragableWrapper {
    text-align: left;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}



#bank {
  background: transparent;
  height: 115px;
  margin-top: 0;
}

.coin {
  width: 47px;
  margin: -20px 0;
  // clip-path: inset(10px 0 10px 0);
}

.proposaltext {
  position: relative;
  p {
    position: absolute;
    left: 4.5em;
    z-index: 999;
    top: -8px;
  }
}

.banktext {
  position: relative;
  p {
    position: absolute;
    left: 4.5em;
    z-index: 999;
    color: #666;
  }

}

///
.dragable-sort {
  margin: 1em auto;
  padding: 5px 10px 0 10px;
  background: #FFF;
  min-height: 55px;
  position: relative;
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  /*
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  */
  .coin {
    transform: scale(1.2);
  }
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
